.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  background-color: #f8f8f8; /* Optional: to visualize the navbar */
  
}
.navbar ul {
  display: flex;
  list-style: none; /* Removes default list styling */
  padding: 0;
  margin: 0;
 
}
.navbar li {
  margin: 0 5px; /* Adds some space between items */
  padding: 5px; /* Optional: adds padding inside each item */
}

.nav_bar_link{
   color: black;
   text-decoration: none;
}
.nav_bar_link:hover{
  color: green;
}

/*.active{
  color: skyblue;

} */